*{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin:0 auto;
    max-width:900px;
    display: flex;
    flex-direction: column;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Train One', cursive;
    background-color: lightsteelblue;
    border-radius: 10px;
    padding: 15px;
}
.wrapper *{
    margin-bottom: 15px;
}
.header{
    text-align: center;
    margin-bottom: 20px;
}
.right{
    background-color: rgba(0, 200, 0, 0.5);
    border-radius: 5px;
    padding-left:5px;
}
.wrong{
    background-color: rgb(255, 44, 55);
    border-radius: 5px;
    padding-left:5px;
}
.hidden{
    display: none;
}
#btn1{
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
}
.opend{
    background-color: skyblue;
    border: none;
}